header{background-color:MidnightBlue;
color:white;
padding:0em;
font-family:Bookman Old Style;
font-size:30px;}



ul li{list-style-type:none; 
display:inline;
float:center;
font-family:Bookman Old Style;
font-size:30px;
}

ul li a{text-decoration:none;
color:white;
word-spacing:15px;}

p{font-family:Bookman Old Style; 
font-size:25px;
color:MidnightBlue;
}

h1{color:white;font-size:30px}
h2{color:MidnightBlue;font-size:30px}

img{float:left;padding:2em;width:320px;height:400px;}

.texto{
height: 150px;}